[user]
	name		= Jakub Jindra
	email		= jakub.jindra@socialbakers.com
	editor		= vim

[alias]
	tree		= log --graph --decorate --abbrev-commit
	ign		= ls-files -o -i --exclude-standard
	st		= status
	ci		= commit
	br		= branch
	co		= checkout
	dt		= difftool

[color]
	grep		= auto
	branch		= auto
	diff		= auto
	status		= auto

[color "branch"]
	current		= yellow reverse
	local		= yellow
	remote		= green

[color "diff"]
	meta		= yellow bold
	frag		= magenta bold
	old		= red bold
	new		= green bold

[color "status"]
	added		= yellow
	changed		= green
	
[core]
	editor		= vim
	pager		= vimpager

[diff]
	tool		= vimdiff

[difftool]
	prompt		= false

[merge]
	tool		= vimdiff

[push]
	default		= current
