set blink-matching-paren on
set colored-stats on
set completion-prefix-display-length 10
set echo-control-characters off
set show-mode-in-prompt on
set skip-completed-text on
"\C-e\C-w": unix-filename-rubout
"\C-e\C-d": "\e\C-]|\C-f\C-k"

"\e,": menu-complete

# Wrap current line in while with 60s delay
"\C-x\C-w": "\C-awhile true; do \C-e;sleep 60s;done"
