! Defaults for all xterm clients
xterm*background:	black
xterm*foreground:	white
xterm*highlightColor:	darkgrey
xterm*utf8:		2
!XTerm*utf8Title:	1
xterm*saveLines:	5000
xterm*loginShell:	true
xterm*cursorColor:	white
xterm*charClass:	33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
xterm*faceName:		Deja Vu Sans Mono for Powerline
xterm*faceSize:		10
!xterm*termName:		xterm-256color
!XTerm*xftAntialias:	1

! xscreensaver ---------------------------------------------------------------
!font settings
xscreensaver.Dialog.headingFont:        -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:           -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:          -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:          -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:         -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:           -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:         -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #ffffff
xscreensaver.Dialog.background:         #111111
xscreensaver.Dialog.topShadowColor:     #111111
xscreensaver.Dialog.bottomShadowColor:  #111111
xscreensaver.Dialog.Button.foreground:  #666666
xscreensaver.Dialog.Button.background:  #ffffff
!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #666666
xscreensaver.Dialog.text.background:    #ffffff
xscreensaver.Dialog.internalBorderWidth:24
xscreensaver.Dialog.borderWidth:        20
xscreensaver.Dialog.shadowThickness:    2
!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #ff0000
xscreensaver.passwd.thermometer.background:  #000000
xscreensaver.passwd.thermometer.width:       8
!datestamp format--see the strftime(3) manual page for details
xscreensaver.dateFormat:    %I:%M%P %a %b %d, %Y

!-------------------------------------------------------------------------------
! xmessage
!Xmessage*font: -xos4-terminus-*-*-*-*-*-*-*-*-*-*-iso8859-2
Xmessage*background: #3F3F3F
Xmessage*foreground: #F0DFAF
Xmessage*form.*.shapeStyle: rectangle
Xmessage*Scrollbar.width: 1
Xmessage*Scrollbar.borderWidth: 0
!Xmessage.form.message.Scroll: WhenNeeded
!Xmessage*Buttons: Quit
!Xmessage*defaultButton: Quit
!Xmessage*geometry: +20+20
 
!-------------------------------------------------------------------------------
! xcursor
Xcursor.theme: whiteglass

!Xft.dpi:        96
!Xft.antialias:  true
!Xft.rgba:       rgb
!Xft.hinting:    true
!Xft.hintstyle:  hintslight
